.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #fae5ef;
  background-image: url("http://dreamatico.com/data_images/beach/beach-8.jpg");
}
